<html>
    <body>
        <h1 style="color:#6565a1">
            BLUE HAIRED GALS WITH PRONOUNS
        </h1>
        <h2 style="color:#6da0b0">
            Ziying Jian, Talia Hsia, Jasmine Yuen
        </h2>
        <br>
        <h3 style="background-color: #c2e3ed">
          username: {{name}}
        </h3>
        <br>
        <h3>GET METHOD:</h3>
        <p>
            GET puts the form data into the URL and can be changed by the user after submitting.
        </p>
        <br>
        <h3>
            POST METHOD:
        </h3>
        <p>POST is the method used in login to trigger the post request
            and grab the submitted query, finally sending it to the /auth webpage.
        </p>
    </body>
</html>
