<!--
Blue Haired Gals (Talia, Ziying, Jasmine)
Softdev Period 2
K14
2022-10-19
time spent: 0.5 hr

-->

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>K14</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type = "text/css" href="../static/style.css"> <!-- LINKS CSS SHEET -->

<div class="sheet">
  <h1>STYLING WITH EXTERNAL STYLE SHEET</h1>
    <!-- navbar div -->
    <div id = "hor">
      <div id = "navbar">
        <ul>
          <h3>BLUE</h3>
          <li>talia</li>
          <li>ziying</li>
          <li>jasmine</li>
        </ul>
      </div>
      <!-- main foo heading and paragraph div -->
      <div id = "paragraphs">
        <h2> This website was made by us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Consectetur purus ut faucibus pulvinar elementum
          integer. Eget felis eget nunc lobortis. Aliquam malesuada
          bibendum arcu vitae elementum curabitur vitae nunc. Ut tellus
          elementum sagittis vitae et leo. Sed viverra tellus in hac
          habitasse platea dictumst. Gravida in fermentum et sollicitudin
          ac orci. Id cursus metus aliquam eleifend mi in. Ac auctor augue
          mauris augue neque gravida. In dictum non consectetur a erat
          nam at lectus urna. Lectus proin nibh nisl condimentum id.
          Dui id ornare arcu odio. Arcu felis bibendum ut tristique et
          egestas quis ipsum. Sed viverra tellus in hac habitasse platea.

          Mattis enim ut tellus elementum sagittis vitae et leo duis. Montes
          nascetur ridiculus mus mauris. Sed pulvinar proin gravida hendrerit
          lectus. Ipsum dolor sit amet consectetur adipiscing. Felis donec et
          odio pellentesque. Pretium quam vulputate dignissim suspendisse
          in est ante in. Sem nulla pharetra diam sit amet nisl suscipit.
        </p>
      </div>
</div>

<!-- copyright -->
<p id = "copyright">
  Copyright of Blue Haired Girls with Pronouns
</p>

</body>
</html> 

